PCAxis.Sql.DbConfig/SqlDbConfig.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Jfi (Statistics Norway) -->
<!--W3C Schema generated by XMLSpy v2005 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="CodeType">
		<xs:attribute name="codeName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codeValue" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="KeywordType">
		<xs:attribute name="modelName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keywordName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnType">
		<xs:attribute name="modelName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="columnName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ColumnsType">
		<xs:sequence>
			<xs:element name="Column" type="ColumnType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConnectionType" mixed="true">
		<xs:sequence>
			<xs:element name="ConnectionString" type="xs:string">
				<xs:annotation>
					<xs:documentation>The string that is used to create the database connection.  See readme</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DefaultUser" minOccurs="0">
				<xs:annotation>
					<xs:documentation>See readme</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DefaultPassword" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>See readme</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KeyForUser" type="xs:string" default="User Id" minOccurs="0">
				<xs:annotation>
					<xs:documentation>See readme</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KeyForPassword" type="xs:string" default="Password" minOccurs="0">
				<xs:annotation>
					<xs:documentation>See readme</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dataProvider" use="required">
			<xs:annotation>
				<xs:documentation>Determines which subclass of DbConnection, DbCommand etc.  to use</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OleDb"/>
					<xs:enumeration value="Oracle"/>
					<xs:enumeration value="Sql"/>
					<xs:enumeration value="Odbc"/>
					<xs:enumeration value="SqlCe"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="databaseType" use="required">
			<xs:annotation>
				<xs:documentation>Determines which SQL dialect to use.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MSSQLSERVER"/>
					<xs:enumeration value="ORACLE"/>
					<xs:enumeration value="SYBASE"/>
					<xs:enumeration value="MYSQL"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="useTemporaryTables" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>If the working database tables, created by the parser, should be of the "temporary" type, true/false</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="metatablesSchema" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>For Oracle: The schema where the metadata will be found</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LogConnectionType" mixed="true">
		<xs:sequence>
			<xs:element name="ConnectionString" type="xs:string">
				<xs:annotation>
					<xs:documentation>The string that is used to create the database connection. Must contain "=PASSWORD;" and "=USER;" which is replaced by proper values. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LogUser">
				<xs:annotation>
					<xs:documentation>User with insert access to the logtable</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LogPassword" type="xs:string">
				<xs:annotation>
					<xs:documentation>Password for the LogUser</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dataProvider" use="required">
			<xs:annotation>
				<xs:documentation>Determines which subclass of DbConnection, DbCommand etc.  to use</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OleDb"/>
					<xs:enumeration value="Oracle"/>
					<xs:enumeration value="Sql"/>
					<xs:enumeration value="Odbc"/>
					<xs:enumeration value="SqlCe"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="databaseType" use="required">
			<xs:annotation>
				<xs:documentation>Determines which SQL dialect to use.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MSSQLSERVER"/>
					<xs:enumeration value="ORACLE"/>
					<xs:enumeration value="SYBASE"/>
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="logtableSchema" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>For Oracle: The schema where the logtable will be found</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LanguageType">
		<xs:attribute name="main" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Is this the main language in your database, true/false</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="code" use="required">
			<xs:annotation>
				<xs:documentation>E.g. en, sv</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="metaSuffix" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>E.g. Eng, Sve</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SqlDbConfig">
		<xs:annotation>
			<xs:documentation>One file per organisation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Database" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2008">
				<xs:annotation>
					<xs:documentation>Must be 2008</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TableType">
		<xs:sequence>
			<xs:element name="Columns" type="ColumnsType"/>
		</xs:sequence>
		<xs:attribute name="modelName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="tableName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="alias" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Preferably unique!</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DatabaseInfo">
		<xs:annotation>
			<xs:documentation>Technical information about the SQL database, type, how to connect, how to log the retrieval, languages</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Database">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Descriptions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Describes the database in a way that enables users to select the proper database </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="lang" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>E.g en, sv ,no</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Connection">
					<xs:annotation>
						<xs:documentation>Information about connecting to the SQL database for retrieval of data (meta or table)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="ConnectionType"/>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="LogInfo">
					<xs:annotation>
						<xs:documentation>Info for the parser about logging the extraction</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tracelog" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>Use a tracelog, true/false</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Usagelog" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoLogUsage" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Use a do-log, true/false</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="LogTableName">
											<xs:annotation>
												<xs:documentation>The name of the database table for the log</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Connection" type="LogConnectionType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Languages">
					<xs:annotation>
						<xs:documentation>Lists the languages that are available in the database</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Language" type="LanguageType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Codes">
					<xs:annotation>
						<xs:documentation>Codes used in columns in the meta tables</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Code" type="CodeType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Keywords">
					<xs:annotation>
						<xs:documentation>Specific keywords that should be used in the database</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Keyword" type="KeywordType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Tables">
					<xs:annotation>
						<xs:documentation>The table and column structure of the database</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Table" type="TableType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>A unique identification for the database</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="metaModel" use="required">
				<xs:annotation>
					<xs:documentation>The model designation for the database, e.g. 2.2</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="allowConfigDefaults" type="xs:boolean" use="optional" default="true">
				<xs:annotation>
					<xs:documentation>For 2.2 and above. Use default values for Codes,Keywords and Tables for the ones that are not specified.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
